body {
  background: url("../asset/water-6901805_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #202b38; /* match your CSS theme color */
}
